* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.App {
  width: 400px;
  margin: 150px auto;
}
.form {
  height: 40px;
  display: flex;
  justify-content: space-between;
}
.form input,
button {
  display: block;
}
.form input {
  width: 70%;
  font-size: 20px;
  padding-left: 10px;
  border: none;
  border-bottom: 2px solid rgb(195, 195, 195);
  outline: none;
}
.form input:focus {
  border-bottom: 2px solid black;
}
.form button {
  width: 25%;
  cursor: pointer;
  border: none;
  font-size: 20px;
  transition: 0.4s;
  border-bottom: 2px solid transparent;
  border-radius: 5px;
}
.form button:hover {
  border-color: black;
}
.form button:active {
  transform: scale(0.95);
}
.form button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
.todos {
  margin-top: 30px;
}
.todo {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(91, 91, 91, 0.133);
  transition: 0.4s;
  border-radius: 3px;
}
.todo:hover {
  box-shadow: 0 2px 4px 0 gray;
}
.todo p {
  padding: 5px 0;
  margin: 0;
  word-break: break-all;
  flex: 1;
}
.todo button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  transition: 0.4s;
}
.todo button:active {
  transform: scale(0.8);
}
.checker {
  display: block;
  padding: 0;
  margin: 0;
  font-size: 30px;
  color: rgb(104, 104, 104);
}
.trash {
  display: block;
  font-size: 18px;
  color: red;
}
.check {
  background-color: bisque;
}
